{% extends "base.html" %}

{% block title %}Edit Quiz{% endblock %}

{% block content %}
<main class="container mt-5">
    <h1 class="h3 mb-4">Edit Quiz</h1>
    <form method="POST" action="{{ url_for('views.edit_quiz', quiz_id=quiz.id) }}">
        {{ form.hidden_tag() }}
        {% for i in range(total_questions) %}
        <div class="quiz-question mb-4">
            <label for="question_{{ i+1 }}">Question {{ i+1 }}:</label>
            {{ form['question_' ~ (i+1)](class="form-control mb-2") }}
            <label>Options:</label>
            {{ form['option_' ~ (i+1) ~ '_1'](class="form-control mb-2") }}
            {{ form['option_' ~ (i+1) ~ '_2'](class="form-control mb-2") }}
            {{ form['option_' ~ (i+1) ~ '_3'](class="form-control mb-2") }}
            {{ form['option_' ~ (i+1) ~ '_4'](class="form-control mb-2") }}
            <label for="correct_{{ i+1 }}">Correct Answer:</label>
            {{ form['correct_' ~ (i+1)](class="form-control") }}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Update Quiz</button>
    </form>
</main>
{% endblock %}