{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
<main class="container mt-5">
    <h2 class="text-center mb-4"">Contact Information</h2>

    <section>
        <h3>Author</h3>
        <p>
            Group 27<br>
            College of Computer Studies, Bachelor in Science in Computer Science<br>
            Central Philippine University<br>
            Email: <a href="mailto:ABridge@gmail.com" style="color: rgb(188, 186, 186);">ABridge@gmail.com</a><br>
            Phone: 09690962210
        </p>
    </section>

    <section class="mt-4">
        <h3>Adviser</h3>
        <p>
            Ma. Shiela C. Sapul<br>
            Professor, College of Computer Studies<br>
            Central Philippine University<br>
            Email: <a href="mailto:msssapul@gmail.com" style="color: rgb(188, 186, 186);">msssapul@gmail.com</a>
        </p>
    </section>

    <section class="mt-4">
        <h3>Social Media and Additional Resources</h3>
        <p>
            Facebook: <a href="https://www.facebook.com/cj.ruiz.583" target="_blank" style="color: rgb(188, 186, 186);">https://www.facebook.com/cj.ruiz.583</a><br>
            GitHub: <a href="https://github.com/K10-B" target="_blank" style="color: rgb(188, 186, 186);">https://github.com/K10-B</a><br>
            Thesis Repository: <a href="https://rb.gy/oafs53" target="_blank" style="color: rgb(188, 186, 186);">https://rb.gy/oafs53</a>
        </p>
    </section>

    <section class="mt-4">
        <h3>Feedback and Contributions</h3>
        <p>
            If you have feedback, suggestions, or would like to contribute to the development of the text type summarization tool, please feel free to get in touch via the provided email addresses. We welcome and appreciate your input.
        </p>
    </section>

    <section class="mt-4">
        <h3>Acknowledgements</h3>
        <p>
            Special thanks to Central Philippine University, the College of Computer Studies, and everyone who has supported the development of this thesis and summarization tool.
        </p>
    </section>
</main>
{% endblock %}
