{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<main class="container mt-5">
    <h1 class="h3 mt-5 mb-4">Summaries</h1>
    <div class="list-group">
        {% for summary in summaries %}
        <div class="list-group-item">
            <h5>{{ summary.filename }}</h5>
            <pre>{{ summary.content }}</pre> <!-- Assuming 'content' field contains the summary content -->
            <a href="{{ url_for('views.view_summary', summary_id=summary.id) }}" class="btn btn-primary">View</a>
            <a href="{{ url_for('views.edit_summary', summary_id=summary.id) }}" class="btn btn-warning">Edit</a>
            <form action="{{ url_for('views.delete_summary', summary_id=summary.id) }}" method="POST" class="d-inline">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
        {% endfor %}
    </div>

    <h1 class="h3 mb-4">Quizzes</h1>
    <div class="list-group">
        {% for quiz in quizzes %}
        <div class="list-group-item">
            <h5>{{ quiz.title }}</h5>
            <a href="{{ url_for('views.edit_quiz', quiz_id=quiz.id) }}" class="btn btn-warning">Edit</a>
            <a href="{{ url_for('views.quiz', quiz_id=quiz.id) }}" class="btn btn-primary">Answer</a>
            <form action="{{ url_for('views.delete_quiz', quiz_id=quiz.id) }}" method="POST" class="d-inline">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
