{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="container text-center mt-5">
        <h1> <br><br><br>YOUR GO-TO PLATFORM<br>
            FOR MANAGING AND<br>
            IMPORTING MATERIALS SEAMLESSLY</h1>
        <p class="lead mt-4">
            We offer the best solutions for managing your materials efficiently.
        </p>
        <a href="/about" class="btn btn-light mt-4 learn-more-btn" style="border-radius: 40px">Learn More</a>
    </div>
{% endblock %}
